/* Font Face */
@font-face {
  font-family: 'DP Saans';
  src: url('../font/DP%20Saans/DP_saans_TRIAL/Saans-TRIAL-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'DP Saans';
  src: url('../font/DP%20Saans/DP_saans_TRIAL/Saans-TRIAL-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'DP Saans';
  src: url('../font/DP%20Saans/DP_saans_TRIAL/Saans-TRIAL-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'DP Saans';
  src: url('../font/DP%20Saans/DP_saans_TRIAL/Saans-TRIAL-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'DP Saans';
  src: url('../font/DP%20Saans/DP_saans_TRIAL/Saans-TRIAL-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Vitruv';
  src: url('../font/Vitruv%20Text%20Test/VitruvTextTest-Regular.otf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


body {
  font-size: 1.25vw;
  font-family: 'DP Saans', sans-serif;
}

/* Max Font Size */
@media screen and (min-width:1280px) {
  body {
    font-size: 16px;
  }
}



/* Container Max Width */
.container {
  margin: 0 auto;
  width: 90%;
  max-width: 80em;
}

.container.mid {
  max-width: 77.5em;
}

.container.small {
  max-width: 75em;
}

/* Content */
.bg-header {
  background-image: radial-gradient(circle at center, transparent, #FFFDF3), url('../images/bg-head.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.head-title{
  font-size: 4.375em;
  font-weight: bold;
  color: var(--color-primary-text);
  line-height: 100%;
}

.head-subtitle{
  font-size: 1.625em;
  font-family: 'Vitruv', sans-serif;
  line-height: 120%;
}

.section-title{
  font-size: 2.75em;
  font-weight: bold;
  line-height: 120%;
}

.section-subtitle{
  font-size: 1.625em;
  font-family: 'Vitruv', sans-serif;
  line-height: 120%;
}